<% if logged_in? %>
    <div class="row" style="margin-top: 10%;">
      <% if @server_uptime %>
          <div class="col-sm-3">
            <div class="xe-widget xe-counter" data-count=".num" data-duration="2">
              <div class="xe-icon"><i class="linecons-cloud"></i></div>
              <div class="xe-label"><strong class="num"><%= @server_uptime %></strong> <span>Server uptime</span></div>
            </div>
          </div>
      <% end %>

      <% if @users %>
          <div class="col-sm-3">
            <div class="xe-widget xe-counter xe-counter-purple" data-count=".num" data-from="1" data-to="<%= @users.count %>" data-duration="2" data-easing="false">
              <div class="xe-icon"><i class="linecons-user"></i></div>
              <div class="xe-label"><strong class="num"><%= @users.count %></strong> <span>Total de usuarios</span>
              </div>
            </div>
          </div>
      <% end %>

      <% if @stores %>

          <div class="col-sm-3">
            <div class="xe-widget xe-counter xe-counter-info" data-count=".num" data-from="0" data-to="<%= @stores.count %>" data-duration="2" data-easing="true">
              <div class="xe-icon"><i class="fa-cutlery"></i></div>
              <div class="xe-label"><strong class="num"><%= @stores.count %></strong> <span>Restaurantes</span></div>
            </div>
          </div>
      <% end %>

      <% if @places %>
          <div class="col-sm-3">
            <div class="xe-widget xe-counter xe-counter-block-success" data-count=".num" data-from="0" data-to="<%= @places.count %>" data-duration="2" data-easing="true" data-delay="1">
              <div class="xe-icon"><i class="fa-cube"></i></div>
              <div class="xe-label"><strong class="num"><%= @places.count %></strong> <span>Sitios de interes</span>
              </div>
            </div>
          </div>
          </div>
      <% end %>



      <div class="row">
        <% if @count %>
            <div class="col-sm-3">
              <div class="xe-widget xe-counter-block xe-counter-block-purple" data-count=".num" data-from="0" data-to="<%= @count %>" data-duration="2">
                <div class="xe-upper">
                  <div class="xe-icon"><i class="fa-comments"></i></div>
                  <div class="xe-label"><strong class="num"><%= @count %></strong>
                    <span>Notificaciones</span>
                  </div>
                </div>
                <div class="xe-lower">
                  <div class="border"></div>
                  <span></span> <strong></strong></div>
              </div>
            </div>
        <% end %>
        <% if !current_user.admin %>
            <div class="col-sm-3">
              <div class="xe-widget xe-counter-block xe-counter-block-red" data-count=".num" data-from="0" data-to="<%= current_user.notifications_number %>" data-duration="2">
                <div class="xe-upper">
                  <div class="xe-icon"><i class="fa-comments"></i></div>
                  <div class="xe-label"><strong class="num"><%= current_user.notifications_number %></strong> <span>Numero maximo de notificaciones</span></div>
                </div>
                <div class="xe-lower">
                  <div class="border"></div>
                </div>
              </div>
            </div>
        <% end %>
        <% if @promos %>
            <div class="col-sm-3">
              <div class="xe-widget xe-counter-block" data-count=".num" data-from="0" data-to="<%= Promotion.all.count %>" data-duration="2">
                <div class="xe-upper">
                  <div class="xe-icon"><i class="fa-gift"></i></div>
                  <div class="xe-label"><strong class="num"><%= @promos.count %></strong> <span>Promociones</span></div>
                </div>
                <div class="xe-lower">
                  <div class="border"></div>
                </div>
              </div>
            </div>
        <% end %>
        <% if @connected_users %>
            <div class="col-sm-3">
              <div class="xe-widget xe-counter-block xe-counter-block-blue" data-count=".num" data-from="0" data-to="<%= @connected_users.count %>" data-duration="2" data-easing="false">
                <div class="xe-upper">
                  <div class="xe-icon"><i class="linecons-user"></i></div>
                  <div class="xe-label"><strong class="num"><%= @connected_users.count %></strong>
                    <span>Usuarios conectados</span></div>
                </div>
                <div class="xe-lower">
                  <div class="border"></div>
                </div>
              </div>
            </div>
        <% end %>
        <% if @events %>
            <div class="col-sm-3">
              <div class="xe-widget xe-counter-block xe-counter-block-red" data-count=".num" data-from="0" data-to="<%= @events.count %>" data-duration="2">
                <div class="xe-upper">
                  <div class="xe-icon"><i class="fa-calendar-o"></i></div>
                  <div class="xe-label"><strong class="num"><%= @events.count %></strong> <span>Eventos</span></div>
                </div>
                <div class="xe-lower">
                  <div class="border"></div>
                </div>
              </div>
            </div>
        <% end %>
      </div>


<% else %>
    <%= controller.redirect_to login_path %>
<% end %>
