<div class="login-container">
  <div class="row">

    <div class="col-sm-12">
      <div class="login-header">

        <%= image_tag 'logo.png', width: '80' %>
        <h1>Contraseña Restaurada</h1>

        <h4>Estimado usuario, hemos restaurado su contraseña satisfactoriamente.Ingrese con su nueva contraseña desde el movil</h4>

      </div>

    </div>
  </div>
</div>






