<div class="login-container">
  <div class="row">

    <div class="col-sm-6">
      <%= form_for(:session, html: {class: 'login-form fade-in-effect in'}, url: login_path) do |f| %>
          <div class="login-header">

            <%= image_tag 'logo.png', width: '80' %>
            <span>log in</span>


            <p>Estimado usuario, por favor introduce tus datos para ingresar al area administrativa</p>
          </div>
          <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
          <div class="form-group">


            <%= f.email_field :email, class: 'form-control input-dark', autocomplete: 'off', placeholder: 'email' %>
          </div>

          <div class="form-group">


            <%= f.password_field :password, class: 'form-control input-dark', autocomplete: 'off', placeholder: 'password' %>
          </div>



          <div class="form-group">
            <button type="submit" class="btn btn-dark btn-block text-left">
              <i class="fa-lock"></i>
              Log In
            </button>


          </div>
      <% end %>
    </div>

  </div>
</div>






