

<% provide(:title, 'Reset password') %>
<h1 class="col-md-offset-4 col-md-6">Restaurar Contraseña</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <br/>
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
        <%= render  'shared/error_messages' , object: @user%>

        <%= hidden_field_tag :email, @user.email %>

        <%= f.label :password,'Contraseña'%>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, 'Confirmación de Contraseña' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <br/>
        <br/>
        <%= f.submit 'Restaurar contraseña', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
