Para restablecer su contraseña por favor siga el siguiente enlace:

<%= edit_password_reset_url(@user.reset_token,  email: @user.email) %>

Si usted no realizo esta petición, entonces ignore este mensaje y su contraseña no cambiara
