<%attachments.inline['logo.png'] = File.read(File.join(Rails.root, 'app', 'assets', 'images','logo.png')) %>

<%=image_tag  attachments['logo.png'].url , width: '80'%>
<h1>Restablecer Contraseña</h1>

<p>Para restablecer su contraseña por favor haga click en el siguiente enlace:</p>

<%= link_to "Restablecer contraseña",  edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>
<p>
  Si usted no realizo esta petición, entonces ignore este mensaje y su contraseña no cambiara
</p>
