<% @stores.each do |store| %>
    <tr role="row" class="odd">

      <td><%= store.name %></td>
      <td><%= store.description %></td>
      <td>
        <% if can? :update, store %>
            <%= link_to "Editar", edit_store_path(store), class: "btn btn-secondary btn-sm btn-icon icon-left" %>
            <%= link_to "Eliminar", "/stores/#{store.id}", {data: {confirm: "Esta seguro que desea eliminar '#{store.name}'?"}, :method => :delete, remote: true, class: "btn btn-danger btn-sm btn-icon icon-left"} %>
        <% end %>
      </td>
    </tr>
<% end %>