<% provide(:title, 'Gastronomia') %>

<% if params[:kind] == KIOSCO %>

    <h1> Kioscos </h1>

<% end %>

<% if params[:kind] == RESTAURANT %>

    <h1> Restaurantes </h1>

<% end %>



<div class="panel panel-default">
  <div class="panel-heading">
    <% if can? :update, @store %>
        <% if params[:kind] == RESTAURANT %>
            <%= link_to 'nuevo restaurante', new_store_path(kind: RESTAURANT),
                        class: "btn btn-primary btn-sm btn-icon icon-left" %>

        <% else %>
            <%= link_to 'nuevo kiosco', new_store_path(kind: KIOSCO),
                        class: "btn btn-primary btn-sm btn-icon icon-left" %>

        <% end %>


    <% end %>
  </div>

  <div class="row">

    <!--<div class="col-md-2" style="margin-right: -10%;">
      <label for="starts_with" class="control-label">Buscar</label>


    </div>-->


    <div class="col-md-4">
      <input id="store_to_search" placeholder="Buscar gastronomia por nombre"
             name="store_to_search" type="text" class="form-control"/>
    </div>
  </div>


  <%= will_paginate %>


  <div class="panel-body">
    <div id="example-2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
      <table class="table table-bordered table-striped dataTable no-footer" id="example-2" role="grid" aria-describedby="example-2_info">
        <thead>

        <tr role="row">
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Nombre: activate to sort column ascending" style="width: 20%;">Nombre
          </th>
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 30%">Descripcion
          </th>

          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Acciones: activate to sort column ascending" style="width: 50%;">Acciones</th>
        </tr>
        </thead>

        <tbody class="middle-align store-index">


        <%= render "store_content" %>


        </tbody>
      </table>

      <div class="row">

        <div class="col-md-4">
          <%= will_paginate %>
        </div>
        <div class="col-md-2">
          <br>
          <br>
          <% if will_paginate %>
              <%= select_tag :per_page, "<option>5</option><option>10</option><option>15</option><option>20</option><option>50</option>".html_safe, class: 'from-control' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

    $("#store_to_search").keyup(function (event) {
        var kind_store = '<%= params[:kind] %>'

        var search_field = $('#store_to_search');


        var jsonPost = { store_to_search: search_field.val().toLowerCase(), kind_of_store: kind_store }

        $.ajax({
            type: 'POST',
            url: '/stores/filter',
            data: jsonPost,
            dataType: 'script'
        });

    });
    $('#per_page').change(function () {
        var select = $('#per_page');
        var kind_store = '<%= params[:kind] %>'
        var jsonPost = { per_page: select.val(), kind: kind_store }

        $.ajax({
            type: 'GET',
            url: '/stores/',
            data: jsonPost,
            dataType: 'script'
        });

    });

</script>