<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default" style="width: 100%;">
      <div class="panel-heading">
        <% if params[:kind] == RESTAURANT %>
            <h3 class="panel-title">Nuevo restaurante</h3>
        <% else %>
            <h3 class="panel-title">Nuevo kiosco</h3>
        <% end %>

      </div>
      <div class="panel-body">
        <%= form_for(@store, html: {multipart: true}) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <% if params[:kind] == RESTAURANT %>
                <%= hidden_field_tag(:kind, RESTAURANT) %>
            <% else %>
                <%= hidden_field_tag(:kind, KIOSCO) %>
            <% end %>



            <%= f.label 'Nombre' %>
            <%= f.text_field :name, class: 'form-control', :required => true %>

            <%= f.label 'Descripcion' %>
            <%= f.text_area :description, class: 'form-control', :required => true %>


            <div class="row">
              <label class="btn glyphicon glyphicon-camera"
                     data-toggle="tooltip" title="Add photo">
                Logo
                <%= file_field_tag "logo", accept: 'image/jpeg,image/gif,image/png', class: 'photo_upload',
                                   id: "logo_file" %>
                <%= content_tag(:div, tag(:img, {id: "logo-preview", src: "#",height: "80", width: "150"}),
                                id: "logo-preview_div") %>
              </label>
            </div>

            <div class="row">
              <label id="clear-logo" class="btn glyphicon glyphicon-remove"
                     onclick="remove_image('#logo_file','#logo-preview')"></label>
            </div>


            <div class="row">
              <%= label_tag(name = :Debes_elegir_almenos_una_imagen, content_or_options = nil,
                            options = {id: 'label_field', style: 'display: none; color: red;'}) %>
              <% for i in 0...@photos.length %>
                  <div class="col-md-6">
                    <label class="btn glyphicon glyphicon-camera"
                           data-toggle="tooltip" title="Add photo">
                      Fotos de locales
                      <%= file_field_tag "store_photo_#{i}", accept: 'image/jpeg,image/gif,image/png',
                                         class: 'photo_upload', id: "file_photo-#{i}" %>
                      <%= content_tag(:div, tag(:img, {id: "photo-preview-#{i}", src: "#",height: "80", width: "150"}),
                                      id: "upload-preview-#{i}") %>
                    </label>
                    <label id="clear-<%= "#{i}" %>" class="btn glyphicon glyphicon-remove"
                           onclick="remove_image('#file_photo-<%="#{i}"%>','#photo-preview-<%="#{i}"%>')"></label>

                  </div>
              <% end %>
            </div>
            <br>
            <!-- Dirección -->
            <div class="control-group">
              <label>Coordenadas</label>

              <div class="controls row-fluid">
                <%= f.text_field :latitude, :required => true, placeholder: "Latitud",
                                 :class => " form-control span12 form-lat", autocomplete: "off" %>
              </div>
              <div class="controls row-fluid">
                <%= f.text_field :longitude, :required => true, placeholder: "Longitud",
                                 :class => "form-control span12 form-lng", autocomplete: "off" %>
              </div>

              <%= f.text_field :city, :type => "hidden", :class => "form-city" %>
              <%= f.text_field :country, :type => "hidden", :class => "form-country" %>

            </div>

            <div id="map-wrap">
              <input id="pac-input" class="controls" type="text" placeholder="Introduce un sitio">

              <div id="map"></div>
            </div>

            <!-- Dirección -->
            <br>
            <br>

            <%= f.submit "Guardar", id: 'submit_store', class: "btn btn-primary", style: 'width:100%;' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'gmap' %>

<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("file_photo-0").required = true;
        $('#submit_store').click(function () {

            if (!$('#file_photo-0').val()) {
                $('#label_field').css('display', 'block');
                alert('Debes completar los campos requeridos');
            }
        });

        var preview = $("#logo-preview");

        $("#logo_file").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });

        var preview0 = $("#photo-preview-0");

        $("#file_photo-0").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview0.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });


        var preview1 = $("#photo-preview-1");

        $("#file_photo-1").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview1.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });

        var preview2 = $("#photo-preview-2");

        $("#file_photo-2").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview2.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });

        var preview3 = $("#photo-preview-3");

        $("#file_photo-3").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview3.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });

        var preview4 = $("#photo-preview-4");

        $("#file_photo-4").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview4.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });


        var preview5 = $("#photo-preview-5");

        $("#file_photo-5").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview5.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });


    });

</script>
