<div id="sub_order_state_code_wrapper">
  <% country = Carmen::Country.coded('EC') %>

  <% subregions = country.subregions %>
  <% parent_region ||= params[:sub_parent_region] %>

  <% state = subregions.coded(parent_region) %>

  <% if state.nil? %>
      <% canton = Canton.where(province: 'Azuay') %>
      <%= select_tag(:canton, options_from_collection_for_select(canton, "id", "name")) %>


  <% else %>
      <% canton = Canton.where(province: state.name.to_s) %>
      <%= select_tag(:canton, options_from_collection_for_select(canton, "id", "name")) %>
  <% end %>

</div>