<div id="order_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% parent_region = 'EC' unless not parent_region.nil? %>
  <% country = Carmen::Country.coded(parent_region) %>
  <% if country.subregions? && parent_region == 'EC' %>
  <%= subregion_select(:order, :state_code, parent_region) %>
  <% end %>
</div>