<h3>Seccion de notificaciones</h3>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default" style="width: 100%;">
      <div class="panel-heading">
        <h3 class="panel-title">Nueva Notificacion</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-8 col-md-offset-2">
          <%= form_tag("/notifications/create", method: "post") do %>
              <% if @event %>
                  <%= hidden_field_tag(:event_id, @event.id) %>
              <% end %>

              <% if @promo %>
                  <%= hidden_field_tag(:promo_id, @promo.id) %>
              <% end %>

              <%= label_tag :title, 'Titulo' %>
              <% if @event %>
                  <%= text_field_tag :title, @event.name, class: 'form-control' %>
              <% elsif @promo %>
                  <%= text_field_tag :title, @promo.title, class: 'form-control' %>

              <% else %>

                  <%= text_field_tag :title, nil, class: 'form-control' %>
              <% end %>

              <%= label_tag :body, 'Contenido' %>
              <% if @event %>

                  <%= text_field_tag :body, @event.notification_body, class: 'form-control' %>

              <% elsif @promo %>
                  <%= text_field_tag :body, @promo.notification_body, class: 'form-control' %>

              <% else %>

                  <%= text_field_tag :body, nil, class: 'form-control' %>


              <% end %>



              <h3>Filtros: </h3>


              <div class="col-md-12" style="padding-top: 10px">
                <div class="col-md-4" style="padding-top: 10px">

                  <%= label_tag ('Filtrar por Pais: ') %>
                  <%= check_box_tag('filter_country', value = "pais", checked = false, id: 'check_country') %>
                </div>
                <div class="col-md-4" style="padding-top: 10px">

                  <%= label_tag ('Filtrar por Genero: ') %>
                  <%= check_box_tag('filter_gender', value = "genero", checked = false, id: 'check_gender') %>
                </div>
                <div class="col-md-4" style="padding-top: 10px">

                  <%= label_tag ('Filtrar por Edad: ') %>
                  <%= check_box_tag('filter_age', value = "edad", checked = false, id: 'check_age') %>
                </div>

              </div>

              <div class="col-md-12" id="gender" style="padding-top: 10px; display: none ">
                <h4>Genero: </h4>

                <% ['Hombres', 'Mujeres', 'GLTBI'].each do |gender| %>
                    <div class="col-md-4">
                      <%= label_tag "theme_#{gender}", gender.humanize %>

                      <%= radio_button_tag :gender, gender, @gender == gender %>
                    </div>

                <% end %>
              </div>

              <div class="col-md-12" id="age" style="padding-top: 10px; display: none">
                <h4>Edad: </h4>

                <h3 style="color: #ff3111">
                  Ejemplo quieres que el mensaje sea enviado solo a mayores de edad debes poner en desde = 18 y
                  hasta = 100
                </h3>

                <div class="col-md-6" style="padding-top: 10px">
                  <%= label_tag (:desde_años_de_edad) %>
                  <%= text_field_tag :since %>
                </div>

                <div class="col-md-6" style="padding-top: 10px">
                  <%= label_tag (:hasta_años_de_edad) %>
                  <%= text_field_tag :until %>
                </div>

              </div>

              <div class="col-md-12" id="country" style="padding-top: 10px; display: none">

                <%= label_tag ('Filtrar por Provincia: ') %>
                <%= check_box_tag('filter_province', value = "province", checked = false, id: 'check_province') %>


                <%= label_tag ('Filtrar por Canton: ') %>
                <%= check_box_tag('filter_canton', value = "canton", checked = false, id: 'check_canton') %>


                <div class="col-md-6" style="padding-top: 10px">
                  <%= label_tag 'Pais' %>
                  <div>

                    <%= country_select_tag :country_code, {priority: %w(US CA), prompt: 'Please select a country'} %>
                  </div>
                </div>

                <div class="col-md-6" id="provincia_div" style="padding-top: 10px; display:none">


                  <%= label_tag 'Provicia' %>
                  <%= render partial: 'subregion_select' %>
                </div>

                <div class="col-md-6 col-md-offset-3" id="caton_div" style="padding-top: 10px; display:none">

                  <%= label_tag 'Cantón (Solo para Ecuador)' %>
                  <%= render partial: 'subsubregion_select' %>
                </div>


              </div>

              <div class="col-md-4 col-md-offset-4" style="padding-top: 14px">
                <%= submit_tag "Aceptar", id: 'submit_event', class: 'btn-success center-block' %>
              </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">


    var check_country = $('#check_country');
    var check_gender = $('#check_gender');
    var check_age = $('#check_age');
    var check_province = $('#check_province');
    var check_canton = $('#check_canton');

    var radio_male = $('#gender_Hombres');

    check_canton.click(function () {
        if (check_canton.is(':checked')) {
            $('#caton_div').css("display", "block");

        } else {

            $('#caton_div').css("display", "none");

        }

    });

    check_province.click(function () {
        if (check_province.is(':checked')) {
            $('#provincia_div').css("display", "block");

        } else {

            $('#provincia_div').css("display", "none");
            $('#caton_div').css("display", "none");
        }

    });


    check_country.click(function () {
        if (check_country.is(':checked')) {
            $('#country').css("display", "block");

        } else {

            $('#country').css("display", "none");

        }

    });


    check_gender.click(function () {
        if (check_gender.is(':checked')) {
            $('#gender').css("display", "block");
            radio_male.prop("checked", true);
        } else {

            $('#gender').css("display", "none");

        }

    });

    check_age.click(function () {
        if (check_age.is(':checked')) {
            $('#age').css("display", "block");

        } else {

            $('#age').css("display", "none");

        }

    });

    $(document).ready(function () {
        $("select#country_code").val("EC");

        $('select#country_code').change(function (event) {

            var country_code, select_wrapper, url;
            select_wrapper = $('#order_state_code_wrapper');
            $('select', select_wrapper).attr('disabled', true);
            country_code = $(this).val();
            url = "/orders/subregion_options?parent_region=" + country_code;
            return select_wrapper.load(url);
        });

        $('#order_state_code_wrapper').on('change', '#order_state_code', function (event) {
            var country_code, select_wrapper, url;
            select_wrapper = $('#sub_order_state_code_wrapper');
            $('select', select_wrapper).attr('disabled', true);
            country_code = $(this).val();
            url = "/cantons/subregion_options?sub_parent_region=" + country_code;
            return select_wrapper.load(url);

        });

        $('#country').on('change', '#country_code', function (event) {
            var mylist = document.getElementById("country_code");
            iterations = mylist.options[mylist.selectedIndex].text;

            if (iterations != 'Ecuador') {
                $('#caton_div').css('display', 'none');
                $('#provincia_div').css('display', 'none');

            } else {
                $('#provincia_div').css('display', 'block');

            }

        });


    });


</script>