<div id="sub_cate_select_wrapper">
  <% store_id||= params[:store_id] %>

  <% store = Store.find_by_id(store_id) %>

  <% if store.nil? %>

      <h4> Selecciona un local arriba por favor </h4>

  <% elsif store.promotions.first %>

      <table class="table table-bordered table-striped dataTable no-footer" id="example-2" role="grid" aria-describedby="example-2_info">
        <thead>

        <tr role="row">
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Titulo: activate to sort column ascending" style="width: 176px;">Titulo
          </th>
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Precio: activate to sort column ascending" style="width: 116px;">Precio
          </th>
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Precio promocional: activate to sort column ascending" style="width: 236px;">Precio
            promocional
          </th>
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Imagen">Imagen</th>
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Acciones: activate to sort column ascending">Acciones</th>
        </tr>
        </thead>

        <tbody class="middle-align">

        <% store.promotions.each do |promotion| %>

            <%= render promotion %>

        <% end %>

        </tbody>
      </table>

  <% else %>
      <h4> Este local no posee promociones </h4>


  <% end %>

</div>
<script>

    $(document).on("ready page:change", function () {
        $('.tag-tooltip').tooltip();
    });
</script>