<% @users.each do |user| %>
    <tr role="row" class="odd">

      <td><%= user.user_name %></td>
      <td><%= user.email %></td>
      <td><%= rol_translator user.role.role_name %></td>
      <td>
        <% if can? :update, @user %>
            <%= link_to "Editar", edit_user_path(user), class: "btn btn-secondary btn-sm btn-icon icon-left" %>
            <% if user != current_user %>
                <%= link_to "Eliminar", "/users/#{user.id}", {data: {confirm: "Esta seguro que desea eliminar este usuario '#{user.user_name}' from your cart?"}, :method => :delete, remote: true, class: "btn btn-danger btn-sm btn-icon icon-left"} %>
            <% end %>
        <% end %>
      </td>
    </tr>
<% end %>