<% provide(:title, 'Sign up') %>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default" style="width: 100%;">
      <div class="panel-heading">
        <h3 class="panel-title">Nuevo usuario</h3>
      </div>
      <div class="panel-body">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :user_name %>
            <%= f.text_field :user_name, class: 'form-control' %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>

            <%= label :role, "Roles" %>

            <%= select("role", "id", Role.all.collect { |role| [role.role_name, role.id] }, {:selected => @user.role.id}, {class: 'form-control'}) %>

            <br>

            <br>

            <div class="set_store">

              <% if @user.store != nil %>
                  <%= render 'select_for_stores_edit' %>

              <% else %>
                  <%= render 'select_for_stores' %>


              <% end %>

              <br>

              <%= f.label :notifications_number, "Numero de notificaciones" %>
              <%= f.text_field :notifications_number, class: 'form-control' %>


            </div>

            <br>
            <br>

            <%= f.submit "Guardar", class: "btn btn-primary", style: 'width:100%;' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    var ready = function () {
        var select_role = $('#role_id')

        if (select_role.val() == '3') {

            $('.set_store').css("display", "block")
        }
        else {
            $('.set_store').css("display", "none")
        }
    }
    $(document).ready(ready);
    $(document).on("page:load", ready);
</script>



<script>
    $('#role_id').change(function () {

        var select_role = $('#role_id')


        if (select_role.val() == '3') {

            $('.set_store').css("display", "block")
        }
        else {
            $('.set_store').css("display", "none")
        }
    });
</script>




