<% provide(:title, 'Usuarios') %>
<h1> Usuarios </h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <% if can? :update, @user %>
        <%= link_to 'nuevo usuario', new_user_path, class: "btn btn-primary btn-sm btn-icon icon-left" %>
    <% end %>
  </div>

  <%= will_paginate %>


  <div class="panel-body">
    <div id="example-2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
      <table class="table table-bordered table-striped dataTable no-footer" id="example-2" role="grid" aria-describedby="example-2_info">
        <thead>

        <tr role="row">
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Nombre: activate to sort column ascending" style="width: 20%;">Nombre
          </th>
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 30%;">Email
          </th>
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Tipo de usuario: activate to sort column ascending" style="width: 30%;">Tipo de usuario
          </th>

          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Acciones: activate to sort column ascending" style="width: 30%;">Acciones</th>
        </tr>
        </thead>

        <tbody class="middle-align user-index">


        <%= render "user_content" %>


        </tbody>
      </table>

      <div class="row">

        <div class="col-md-4">
          <%= will_paginate %>
        </div>
        <div class="col-md-2">
          <br>
          <br>
          <% if will_paginate %>
              <%= select_tag :per_page, "<option>5</option><option>10</option><option>15</option><option>20</option><option>50</option>".html_safe, class: 'from-control' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $('#per_page').change(function () {
        var select = $('#per_page');
        var jsonPost = { per_page: select.val() }


        $.ajax({
            type: 'GET',
            url: '/users/',
            data: jsonPost,
            dataType: 'script'
        });

    });
</script>