<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-body">
      <div id="example-2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
        <table class="table table-bordered table-striped dataTable no-footer" id="example-2" role="grid" aria-describedby="example-2_info">
          <thead>

          <tr role="row">
            <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Nombre: activate to sort column ascending" style="width: 20%;">Nombre
            </th>
            <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 20%;">Descripcion
            </th>

            <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Acciones: activate to sort column ascending">Acciones</th>
          </tr>
          </thead>

          <tbody class="middle-align place-interest-index">

          <tr role="row" class="odd">

            <td><%= @user.user_name %></td>
            <td><%= @user.email %></td>
            <td><%= rol_translator @user.role.role_name %></td>

          </tr>

          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>