<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Este formulario contiene <%=object.errors.count.to_s+" " + t("error", count: object.errors.count) %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
