
<% provide(:title, 'Nueva promo') %>
<h1>Nueva promocion</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([@current_user,@current_user.promotions.build]) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.select(:user_id, User.all.collect { |p| [p.name, p.id] },
                     prompt: "Elige un Local") %>

        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>

        <%= f.label :price %>
        <%= f.text_field :price, class: 'form-control' %>

        <%= f.label :promo_price, "Precio de promocion" %>
        <%= f.text_field :promo_price, class: 'form-control' %>

        <%= f.label :photo, "Añade una imagen" %>
        <%= f.file_field :photo %>

        <%= f.submit "Guardar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

lista desplegable de usuarios para poder eleguir el local y hacer una nueva promo
