<% @events.each do |event| %>
    <tr role="row" class="odd">
      <td> <%= event.name %> </td>
      <% if event.date != nil %>
          <td> <%= event.date.strftime("%d/%m/%Y") %> </td>
      <% else %>
          <td><h5>Proximanete</h5></td>
      <% end %>
      <% if event.projection %>
          <td>Proyeccion </td>
      <% else %>
          <td>Evento</td>

      <% end %>

      <% if event.notification_body != nil %>
          <% if event.notification_body != '' %>
              <td>

                <h5><%= event.count_notification %></h5>

              </td>

              <td>
                <%= link_to "Enviar Notificacion", notifications_new_path(event_id: event.id), class: 'btn btn-info btn-sm btn-icon icon-left' %>
              </td>
          <% else %>
              <td><h5>N/A</h5></td>
              <td><h5>N/A</h5></td>
          <% end %>
      <% else %>
          <td><h5>N/A</h5></td>

          <td><h5>N/A</h5></td>
      <% end %>

      <td>
        <%= link_to 'Editar', edit_event_path(event), class: "btn btn-secondary btn-sm btn-icon icon-left" %>
        <% if current_user.admin || current_user?(event.user) %>
            <%= link_to 'Eliminar', event, method: :delete, remote: true, data: {confirm: "Esta seguro que desea eliminar el evento ?"}, class: "btn btn-danger btn-sm btn-icon icon-left" %>
        <% end %>
      </td>


    </tr>

<% end %>