<div class="row" id="row_logo">

  <%= label_tag(name = :Debes_elegir_una_imagen, content_or_options = nil,
                options = {id: 'req_label_logo', style: 'display: none; color: red;'}) %>

  <label id="camara_icon" class="btn glyphicon glyphicon-camera"
         data-toggle="tooltip" title="Add photo">
    <%= label_tag "Logo de patrocinador" %>
    <%= file_field_tag "logo_sponsor", accept: 'image/jpeg,image/gif,image/png', class: 'photo_upload',
                       id: "logo_file" %>

    <% if @event.logo_sponsor.url.nil? %>

        <%= content_tag(:div, tag(:img, {src: '#', id: "logo-preview", height: "80",
                                         width: "150"}), id: "logo-preview_div") %>


  <% else %>
        <%= content_tag(:div, tag(:img, {src: @event.logo_sponsor.url, id: "logo-preview", height: "80",
                                         width: "150"}), id: "logo-preview_div") %>

    <% end %>
  </label>
</div>

<div class="row" id="remove_div_logo">
  <label id="clear-logo" class="btn glyphicon glyphicon-remove"
         onclick="remove_image('#logo_file','#logo-preview')"></label>
</div>


<script>


    $(document).ready(function () {

        var preview = $("#logo-preview");

        $("#logo_file").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });

    });


</script>