<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default" style="width: 100%;">
      <div class="panel-heading">
        <h3 class="panel-title">Editar evento</h3>
      </div>
      <div class="panel-body">
        <%= form_for(@event, html: {multipart: true}) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label 'Nombre' %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label 'Detalles' %>
            <%= f.text_area :detail, class: 'form-control' %>

            <%= f.label 'Proyeccion' %>
            <%= f.check_box :projection, class: 'form-control' %>

            <div class="sponsor_div">
              <%= f.label 'Patrocinador', id: 'label_for_sponsor' %>

              <%= f.text_field :sponsor, class: 'form-control' %>
            </div>

            <div id="place_div" style="display: none;">
              <%= f.label 'Sitios', id: 'label_for_sponsor' %>

              <%= f.select(:place_of_interest_id, PlaceOfInterest.all.collect { |p| [p.name, p.id] },
                           prompt: "Eligue un sitios de interes") %>
            </div>

            <div class="sponsor_logo">
              <%= render 'sponsor_logo_edit' %>
            </div>


            <%= f.label 'Duracion' %>

            <%= f.text_field :duration, class: 'form-control' %>

            <% if @event.notification_body %>

                <%= f.label 'Texto de notificacion' %>

                <%= f.text_field :notification_body, class: 'form-control' %>

            <% end %>


            <div class="row">
              <label class="btn glyphicon glyphicon-camera"
                     data-toggle="tooltip" title="Añadir foto">
                Imagen de evento
                <%= file_field_tag "image", accept: 'image/jpeg,image/gif,image/png', class: 'photo_upload',
                                   id: "image_file" %>
                <%= content_tag(:div, tag(:img, {src: @event.image.url, id: "image-preview", height: "80", width: "150"}), id: "image-preview_div") %>
              </label>

            </div>

            <div class="row">
              <label id="clear-logo" class="btn glyphicon glyphicon-remove" onclick="remove_image('#image_file','#image-preview')"></label>
            </div>


            <div class="form-group">

              <div class="col-sm-6">
                <%= f.label :event_date, 'Fecha', class: 'control-label' %>

                <div class='date-and-time'>

                  <input class="form-control datepicker" type="text" value="<%= @event.date.strftime("%m/%d/%Y") %>" name="event_date" id="event_date">
                  <input type="text" class="form-control timepicker" name="event_time" data-template="dropdown" data-show-seconds="true" value="<%= @event.date.strftime("%I:%M%p") %>" data-show-meridian="true" data-minute-step="5" data-second-step="5">


                </div>
              </div>
            </div>

            <br>

            <br>
            <br>
            <br>
            <br>

            <!-- Dirección -->
            <div class="control-group">
              <label>Coordenadas</label>

              <div class="controls row-fluid">
                <%= f.text_field :latitude, :required => true, placeholder: "Latitud", :class => " form-control span12 form-lat", autocomplete: "off" %>
              </div>
              <div class="controls row-fluid">
                <%= f.text_field :longitude, :required => true, placeholder: "Longitud", :class => "form-control span12 form-lng", autocomplete: "off" %>
              </div>

              <%= f.text_field :city, :type => "hidden", :class => "form-city" %>
              <%= f.text_field :country, :type => "hidden", :class => "form-country" %>

            </div>

            <div id="map-wrap">
              <input id="pac-input" class="controls" type="text" placeholder="Enter a Location">

              <div id="map"></div>
            </div>

            <br>
            <br>
            <!-- Dirección -->
            <div class="col-md-3 col-md-offset-3">
              <%= link_to "Cancelar", :back, class: "btn btn-primary", style: 'width:100%;' %>

            </div>

            <div class="col-md-3 ">
              <%= f.submit "Guardar", id: 'submit_event', class: "btn btn-primary", style: 'width:100%;' %>

            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>


<%= javascript_include_tag 'gmap' %>

<script>

    var ready = function () {

        var event_projection = $('#event_projection')

        if (event_projection.is(":checked")) {
            $('.sponsor_logo').css("display", "none");
            $('.sponsor_div').css("display", "none");
            $('#place_div').css("display", "block");

        }

    }

    $(document).ready(ready);
    $(document).on("page:load", ready);
</script>


<script>
    $('#event_projection').click(function () {

        if ($(this).is(":checked")) {
            $('.sponsor_logo').css("display", "none");
            $('.sponsor_div').css("display", "none");
            $('#place_div').css("display", "block");
            document.getElementById("logo_file").required = false;

        }
        else {
            $('.sponsor_logo').css("display", "block");
            $('.sponsor_div').css("display", "block");
            $('#place_div').css("display", "none");
           document.getElementById("logo_file").required = true;

        }

    });


    $(document).ready(function () {

        $('#submit_event').click(function () {

            var y = $("#image-preview").attr('src');

            if (!y) {

                $('#label_field').css('display', 'block');
                alert('Debes completar los campos requeridos');
            }
            if (!$('#event_projection').is(":checked")) {

                var x = document.getElementById("logo-preview").hasAttribute("src");
                if (!x) {
                    $('#req_label_logo').css('display', 'block');
                    alert('Debes completar los campos requeridos');


                }

            }

        });



        var preview = $("#image-preview");

        $("#image_file").change(function(event){
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function(e){
                image_base64 = e.target.result;
                preview.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });


    });


</script>