<% provide(:title, 'Eventos') %>
<h1> Eventos </h1>


<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'Nuevo evento', new_event_path, class: "btn btn-primary btn-sm btn-icon icon-left" %>
  </div>

  <% if current_user.admin %>

      <div class="row">

        <!--<div class="col-md-2" style="margin-right: -10%;">
          <label for="starts_with" class="control-label">Buscar</label>


        </div>-->


        <div class="col-md-4">
          <input id="event_to_serch" placeholder="Buscar evento por nombre" name="event_to_serch" type="text" class="form-control"/>
        </div>
      </div>


  <% end %>

  <div class="panel-body">
    <div id="example-2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
      <table class="table table-bordered table-striped dataTable no-footer" id="example-2" role="grid" aria-describedby="example-2_info">
        <thead>
        <tr role="row">
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Titulo: activate to sort column ascending" style="width: 15%;">Nombre
          </th>
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Fecha: activate to sort column ascending" style="width: 15%;">Fecha
          </th>
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Fecha: activate to sort column ascending" style="width: 15%;">Tipo
          </th>

          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Numero de notificaciones: activate to sort column ascending" style="width: 15%;">Numero
            de notificaciones
          </th>

          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Notificacion: activate to sort column ascending">Notificacion
          </th>

          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Acciones: activate to sort column ascending">Acciones
          </th>
        </tr>
        </thead>

        <tbody class="middle-align event-index">

        <%= render 'content_event' %>

        </tbody>
      </table>
      <div class="row">

        <div class="col-md-4">
          <%= will_paginate %>
        </div>
        <div class="col-md-2">
          <br>
          <br>
          <% if will_paginate %>
              <%= select_tag :per_page, "<option>5</option><option>10</option><option>15</option><option>20</option><option>50</option>".html_safe, class: 'from-control' %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
<script>
    $("#event_to_serch").keyup(function (event) {
        var search_field = $('#event_to_serch');


        var jsonPost = { event_to_search: search_field.val().toLowerCase() }


        $.ajax({
            type: 'POST',
            url: '/events/filter',
            data: jsonPost,
            dataType: 'script'
        });


    });
    $('#per_page').change(function () {
        var select = $('#per_page');
        var jsonPost = { per_page: select.val() }


        $.ajax({
            type: 'GET',
            url: '/events/',
            data: jsonPost,
            dataType: 'script'
        });

    });


</script>