<% provide(:title, 'Nuevo evento') %>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default" style="width: 100%;">
      <div class="panel-heading">
        <h3 class="panel-title">Nueva evento</h3>
      </div>
      <div class="panel-body">
        <%= form_for(@event, html: {multipart: true}) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label 'Nombre' %>
            <%= f.text_field :name, class: 'form-control', :required => true %>

            <%= f.label 'Detalles' %>
            <%= f.text_area :detail, class: 'form-control', :required => true %>

            <%= f.label 'Proyeccion' %>
            <%= f.check_box :projection, class: 'form-control' %>

            <div class="sponsor_div">
              <%= f.label 'Patrocinador', id: 'label_for_sponsor' %>

              <%= f.text_field :sponsor, class: 'form-control' %>

            </div>

            <div id="place_div" style="display: none;">
              <%= f.label 'Sitios', id: 'label_for_sponsor' %>

              <%= f.select(:place_of_interest_id, PlaceOfInterest.all.collect { |p| [p.name, p.id] },
                           prompt: "Eligue un sitios de interes") %>
            </div>

            <div class="sponsor_logo">
              <%= render 'sponsor_logo' %>

            </div>

            <%= f.label 'Duracion' %>

            <%= f.text_field :duration, class: 'form-control' %>

            <%= f.label 'Texto de notificacion' %>

            <%= f.text_field :notification_body, class: 'form-control' %>


            <div class="row">
              <%= label_tag(name = :Debes_elegir_una_imagen, content_or_options = nil,
                            options = {id: 'label_field', style: 'display: none; color: red;'}) %>
              <label class="btn glyphicon glyphicon-camera"
                     data-toggle="tooltip" title="Añadir foto">
                Imagen de evento
                <%= file_field_tag "image", accept: 'image/jpeg,image/gif,image/png', class: 'photo_upload',
                                   id: "image_file", onchange: "preview_image('#image-preview','#image_file')" %>
                <%= content_tag(:div, tag(:img, {id: "image-preview", src: "#",height: "80", width: "150"}), id: "image-preview_div") %>
              </label>

            </div>

            <div class="row">
              <label id="clear-logo" class="btn glyphicon glyphicon-remove"
                     onclick="remove_image('#image_file','#image-preview')"></label>
            </div>


            <div class="form-group">

              <div class="col-sm-6">
                <div class="col-md-12">
                  <div class="col-md-7">
                    <%= f.label :event_date, 'Fecha', class: 'control-label' %>
                  </div>
                  <div class="col-md-5">

                    <%= f.label :event_date, 'Hora', class: 'control-label' %>
                  </div>
                </div>
                <div class='date-and-time'>


                  <input class="form-control datepicker" type="text" name="event_date" id="event_date"
                         required="true">


                  <input type="text" class="form-control timepicker" name="event_time" required="true"
                         data-template="dropdown" data-show-seconds="true" data-default-time="11:25 AM"
                         data-show-meridian="true" data-minute-step="5" data-second-step="5">


                </div>
              </div>

            </div>


            <br>

            <br>
            <br>
            <br>
            <br>


            <!-- Dirección -->
            <div class="control-group">
              <label>Coordenadas</label>


              <div class="controls row-fluid">
                <%= f.text_field :latitude, :required => true, placeholder: "Latitud",
                                 :class => " form-control span12 form-lat", autocomplete: "off" %>
              </div>
              <div class="controls row-fluid">
                <%= f.text_field :longitude, :required => true, placeholder: "Longitud",
                                 :class => "form-control span12 form-lng", autocomplete: "off" %>
              </div>

              <%= f.text_field :city, :type => "hidden", :class => "form-city" %>
              <%= f.text_field :country, :type => "hidden", :class => "form-country" %>

            </div>

            <div id="map-wrap">
              <input id="pac-input" class="controls" type="text" placeholder="Enter a Location">

              <div id="map"></div>
            </div>

            <br>
            <br>

            <!-- Dirección -->
            <div class="form-group">
              <%= f.submit "Guardar", id: 'submit_event', class: "btn btn-primary", style: 'width:100%;' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= javascript_include_tag 'gmap' %>

<script>

    $(document).ready(function () {
        document.getElementById("image_file").required = true;

        $('#submit_event').click(function () {


            if (!$('#image_file').val()) {

                $('#label_field').css('display', 'block');
                alert('Debes completar los campos requeridos');
            }

            if ($(this).is(":checked")) {

                if (!$('#logo_file').val()) {
                    $('#req_label_logo').css('display', 'block');
                    alert('Debes completar los campos requeridos');

                }

            }

        });

        var preview = $("#image-preview");

        $("#image_file").change(function(event){
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function(e){
                image_base64 = e.target.result;
                preview.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });

    });

    $('#event_projection').change(function () {

        if ($(this).is(":checked")) {
            $('.sponsor_logo').css("display", "none");
            $('.sponsor_div').css("display", "none");
            $('#place_div').css("display", "block");
        }
        else {
            $('.sponsor_logo').css("display", "block");
            $('.sponsor_div').css("display", "block");
            $('#place_div').css("display", "none");

        }


    });


</script>





