<% provide(:title, 'Eventos') %>
<h1> Eventos </h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'nuevo evento', new_event_path, class:"btn btn-primary btn-sm btn-icon icon-left"  %>
  </div>
  <div class="panel-body">
    <div id="example-2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
      <table class="table table-bordered table-striped dataTable no-footer" id="example-2" role="grid" aria-describedby="example-2_info">
        <thead>
        <tr role="row">
          <th  tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Titulo: activate to sort column ascending" style="width: 176px;">Nombre
          </th>
          <th  tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Precio: activate to sort column ascending" style="width: 116px;">Detalles
          </th>
          <th  tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Precio promocional: activate to sort column ascending" style="width: 236px;">Fecha
            promocional
          </th>
          <th  tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Acciones: activate to sort column ascending">proyeccion o itinerario</th>
        </tr>
        </thead>

        <tbody class="middle-align">

        <%= render 'content_event' %>

        </tbody>
      </table>

    </div>
  </div>
</div>

