<% @place_of_interests.each do |place| %>
    <tr role="row" class="odd">

      <td><%= place.name %></td>
      <td><%= place.description %></td>
      <td>
        <% if can? :update, @place_of_interest %>
            <%= link_to "Editar", edit_place_of_interest_path(place), class: "btn btn-secondary btn-sm btn-icon icon-left" %>
            <%= link_to "Eliminar", "/place_of_interests/#{place.id}", {data: {confirm: "Esta seguro que desea eliminar el sitio de interes '#{place.name}'"}, :method => :delete, remote: true, class: "btn btn-danger btn-sm btn-icon icon-left"} %>
        <% end %>
      </td>
    </tr>
<% end %>