<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default" style="width: 100%;">
      <div class="panel-heading">
        <h3 class="panel-title">Editar sitio de interes</h3>
      </div>
      <div class="panel-body">
        <%= form_for(@place_of_interest, html: {multipart: true}) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>


            <!-- Dirección -->
            <div class="control-group">
              <label>Coordenadas</label>

              <div class="controls row-fluid">
                <%= f.text_field :latitude, :required => true, placeholder: "Latitud", :class => " form-control span12 form-lat", autocomplete: "off" %>
              </div>
              <div class="controls row-fluid">
                <%= f.text_field :longitude, :required => true, placeholder: "Longitud", :class => "form-control span12 form-lng", autocomplete: "off" %>
              </div>

              <%= f.text_field :city, :type => "hidden", :class => "form-city" %>
              <%= f.text_field :country, :type => "hidden", :class => "form-country" %>



              <div class="row">
                <% @image_edit.each_with_index do |picture, i| %>
                    <div class="col-md-6">
                      <label class="btn glyphicon glyphicon-camera"
                             data-toggle="tooltip" title="Añadir foto">
                        Imagen
                        <%= file_field_tag "place_photo_#{i}", accept: 'image/jpeg,image/gif,image/png', class: 'photo_upload',
                                           id: "file_photo-#{i}" %>
                        <%= content_tag(:div, tag(:img, {src: picture.photo_path.url, id: "photo-preview-#{i}", height: "80", width: "150"}), id: "upload-preview-#{i}") %>
                      </label>
                      <label id="clear-<%= "#{i}" %>" class="btn glyphicon glyphicon-remove" onclick="remove_image('#file_photo-<%="#{i}"%>','#photo-preview-<%="#{i}"%>')"></label>

                    </div>
                <% end %>


                <% for i in @image_edit.length..3 %>

                    <div class="col-md-6">
                      <label class="btn glyphicon glyphicon-camera"
                             data-toggle="tooltip" title="Añadir foto">
                        Imagen
                        <%= file_field_tag "place_photo_#{i}", accept: 'image/jpeg,image/gif,image/png', class: 'photo_upload',
                                           id: "file_photo-#{i}" %>
                        <%= content_tag(:div, tag(:img, {src: '#', id: "photo-preview-#{i}", height: "80", width: "150"}), id: "upload-preview-#{i}") %>
                      </label>
                      <label id="clear-<%= "#{i}" %>" class="btn glyphicon glyphicon-remove" onclick="remove_image('#file_photo-<%="#{i}"%>','#photo-preview-<%="#{i}"%>')"></label>

                    </div>

                <% end %>

              </div>


            </div>


            <div id="map-wrap">
              <input id="pac-input" class="controls" type="text" placeholder="Enter a Location">

              <div id="map"></div>
            </div>

            <!-- Dirección -->

            <br>
            <br>

            <div class="col-md-3 col-md-offset-3">
              <%= link_to "Cancelar", :back, class: "btn btn-primary", style: 'width:100%;' %>

            </div>

            <div class="col-md-3 ">
              <%= f.submit "Guardar", class: "btn btn-primary", style: 'width:100%;' %>

            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>


<%= javascript_include_tag 'gmap' %>


<script>

    $(document).ready(function () {


        var preview0 = $("#photo-preview-0");

        $("#file_photo-0").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview0.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });


        var preview1 = $("#photo-preview-1");

        $("#file_photo-1").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview1.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });

        var preview2 = $("#photo-preview-2");

        $("#file_photo-2").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview2.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });

        var preview3 = $("#photo-preview-3");

        $("#file_photo-3").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview3.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });


    });

</script>
