<% provide(:title, 'Usuarios') %>
    <h1> Sitios de interes <%= params[:kind] %> </h1>



<div class="panel panel-default">
  <div class="panel-heading">

    <% if params[:kind] == DEPORTIVO %>
        <%= link_to 'nuevo lugar de interes', new_place_of_interest_path(kind: DEPORTIVO), class: "btn btn-primary btn-sm btn-icon icon-left" %>

    <% end %>

    <% if params[:kind] == CULTURAL %>
        <%= link_to 'nuevo lugar de interes', new_place_of_interest_path(kind: CULTURAL), class: "btn btn-primary btn-sm btn-icon icon-left" %>

    <% end %>

    <% if params[:kind] == ENTRETENIMIENTO %>
        <%= link_to 'nuevo lugar de interes', new_place_of_interest_path(kind: ENTRETENIMIENTO), class: "btn btn-primary btn-sm btn-icon icon-left" %>

    <% end %>

    <% if params[:kind] == ADICIONALES %>
        <%= link_to 'nuevo lugar de interes', new_place_of_interest_path(kind: ADICIONALES), class: "btn btn-primary btn-sm btn-icon icon-left" %>

    <% end %>


  </div>

  <div class="row">

    <!--<div class="col-md-2" style="margin-right: -10%;">
      <label for="starts_with" class="control-label">Buscar</label>


    </div>-->


    <div class="col-md-4">
      <input id="place_to_search" placeholder="Buscar sitio de interes por nombre" name="place_to_search"
             type="text" class="form-control"/>
    </div>
  </div>




  <%= will_paginate %>

  <div class="panel-body">
    <div id="example-2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
      <table class="table table-bordered table-striped dataTable no-footer" id="example-2" role="grid"
             aria-describedby="example-2_info">
        <thead>

        <tr role="row">
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Nombre: activate to sort column ascending" style="width: 20%;">Nombre
          </th>
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 20%;">Descripcion
          </th>

          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Acciones: activate to sort column ascending">Acciones</th>
        </tr>
        </thead>

        <tbody class="middle-align place-interest-index">


        <%= render "place_of_interest_content" %>


        </tbody>
      </table>

      <div class="row">

        <div class="col-md-4">
          <%= will_paginate %>
        </div>
        <div class="col-md-2">
          <br>
          <br>
          <% if will_paginate %>
              <%= select_tag :per_page, "<option>5</option><option>10</option><option>15</option><option>20</option><option>50</option>".html_safe, class: 'from-control' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

    $("#place_to_search").keyup(function (event) {
        var kind_place = '<%= params[:kind] %>'

        var search_field = $('#place_to_search');


        var jsonPost = { place_to_search: search_field.val().toLowerCase(), kind_of_place: kind_place }

        $.ajax({
            type: 'POST',
            url: '/place_of_interests/filter',
            data: jsonPost,
            dataType: 'script'
        });


    });
    $('#per_page').change(function () {
        var kind_place = '<%= params[:kind] %>'
        var select = $('#per_page');
        var jsonPost = { per_page: select.val(), kind: kind_place}


        $.ajax({
            type: 'GET',
            url: '/place_of_interests/',
            data: jsonPost,
            dataType: 'script'
        });

    });

</script>
