<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default" style="width: 100%;">
      <div class="panel-heading">
        <h3 class="panel-title">Nuevo sitio de interes</h3>
      </div>
      <div class="panel-body">
        <%= form_for(@place_of_interest, html: {multipart: true}) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <% if params[:kind] == DEPORTIVO %>
                <%= hidden_field_tag(:kind, DEPORTIVO) %>
            <% end %>
            <% if params[:kind] == CULTURAL %>
                <%= hidden_field_tag(:kind, CULTURAL) %>
            <% end %>
            <% if params[:kind] == ENTRETENIMIENTO %>
                <%= hidden_field_tag(:kind, ENTRETENIMIENTO) %>
            <% end %>
            <% if params[:kind] == ADICIONALES %>
                <%= hidden_field_tag(:kind, ADICIONALES) %>
            <% end %>


            <%= f.label :name, class: 'control-label' %>
            <%= f.text_field :name, class: 'form-control', :required => true %>

            <%= f.label :description, class: 'control-label' %>
            <%= f.text_area :description, class: 'form-control', :required => true %>

            <!-- Dirección -->


            <br>


            <div class="row">
              <% for i in 0...@photos.length %>
                  <div class="col-md-6">
                    <label class="btn glyphicon glyphicon-camera"
                           data-toggle="tooltip" title="Añadir foto">
                      Imagen
                      <%= file_field_tag "place_photo_#{i}", accept: 'image/jpeg,image/gif,image/png',
                                         class: 'photo_upload', id: "file_photo-#{i}" %>
                      <%= content_tag(:div, tag(:img, {id: "photo-preview-#{i}",src: "#", height: "80", width: "150"}), id: "upload-preview-#{i}") %>
                    </label>
                    <label id="clear-<%= "#{i}" %>" class="btn glyphicon glyphicon-remove" onclick="remove_image('#file_photo-<%="#{i}"%>','#photo-preview-<%="#{i}"%>')"></label>

                  </div>
              <% end %>
            </div>
            <div class="control-group">
              <label>Coordenadas</label>

              <div class="controls row-fluid">
                <%= f.text_field :latitude, :required => true, placeholder: "Latitud", :class => " form-control span12 form-lat", autocomplete: "off" %>
              </div>
              <div class="controls row-fluid">
                <%= f.text_field :longitude, :required => true, placeholder: "Longitud", :class => "form-control span12 form-lng", autocomplete: "off" %>
              </div>

              <%= f.text_field :city, :type => "hidden", :class => "form-city" %>
              <%= f.text_field :country, :type => "hidden", :class => "form-country" %></div>

            <br>


            <div id="map-wrap">
              <input id="pac-input" class="controls" type="text" placeholder="Introduce un sitio">

              <div id="map"></div>
            </div>


            <!-- Dirección -->


            <br>
            <br>

            <%= f.submit "Guardar", class: "btn btn-primary", style: 'width:100%;' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'gmap' %>

<script>


    $(document).ready(function () {
        var preview0 = $("#photo-preview-0");

        $("#file_photo-0").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview0.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });


        var preview1 = $("#photo-preview-1");

        $("#file_photo-1").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview1.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });

        var preview2 = $("#photo-preview-2");

        $("#file_photo-2").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview2.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });

        var preview3 = $("#photo-preview-3");

        $("#file_photo-3").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview3.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });


    });
</script>







