// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group {
  .row {
    label {
      margin-bottom: 5px;
    }
  }
}