// Place all the styles related to the Promotion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tiny-image{

  width: 80px;
  height: 80px;

}