<% @promotions.each do |promo| %>
    <tr role="row" class="odd">

      <td><%=  promo.title %></td>
      <td><%= promo.price %></td>
      <td><%= promo.promo_price %></td>

      <% if promo.notification_body != nil %>
          <% if promo.notification_body != '' %>

              <td><h6><%= promo.count_notification %></h6></td>
              <td><%= link_to "Enviar notificacion", notifications_new_path(promo_id: promo.id), class: 'btn btn-info btn-sm btn-icon icon-left' %></td>
          <% else %>
              <td><h6>N/A</h6></td>
              <td>N/A</td>
          <% end %>

      <% else %>
          <td><h6>N/A</h6></td>
          <td>N/A</td>

      <% end %>




      <td>
        <% if can? :update, promo %>
            <%= link_to "Editar", edit_promotion_path(promo), class: "btn btn-secondary btn-sm btn-icon icon-left" %>
            <%= link_to "Eliminar", "/promotions/#{promo.id}", {data: {confirm: "Esta seguro que desea eliminar la promocion '#{promo.title}'?"}, :method => :delete, remote: true, class: "btn btn-danger btn-sm btn-icon icon-left"} %>
        <% end %>
      </td>
    </tr>
<% end %>