<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default" style="width: 100%;">
      <div class="panel-heading">
        <h3 class="panel-title">Editar promocion</h3>
      </div>
      <div class="panel-body">
        <%= form_for(@promo, html: {multipart: true}) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>

            <%= f.label :price %>
            <%= f.text_field :price, class: 'form-control' %>

            <%= f.label :promo_price, "Precio de promocion" %>
            <%= f.text_field :promo_price, class: 'form-control' %>

            <div class="form-group">
              <div class="col-md-6">
                <div class="col-md-12">
                  <div class="col-md-8">
                    <%= f.label :initial_date, 'Fecha de inicio', class: 'control-label' %>
                  </div>
                  <div class="col-md-4">

                    <%= f.label :initial_date, 'Hora', class: 'control-label' %>
                  </div>
                </div>
                <div class='date-and-time'>

                  <input class="form-control datepicker" type="text" name="initial_date" id="initial_date"
                         required="true">

                  <input type="text" class="form-control timepicker" name="initial_time"
                         required="true" data-template="dropdown"
                         data-show-seconds="true" value="<%= @promo.initial_date.strftime("%I:%M%p") %>" data-show-meridian="true"
                         data-minute-step="5" data-second-step="5">

                </div>
              </div>

              <div class="col-md-6">
                <div class="col-md-12">
                  <div class="col-md-8">
                    <%= f.label :finish_date, 'Fecha de fin', class: 'control-label' %>
                  </div>
                  <div class="col-md-4">

                    <%= f.label :finish_date, 'Hora', class: 'control-label' %>
                  </div>
                </div>
                <div class='date-and-time'>

                  <input class="form-control datepicker" type="text" name="finish_date" id="finish_date" required="true">

                  <input type="text" class="form-control timepicker" name="finish_time" required="true"
                         data-template="dropdown"
                         data-show-seconds="true" value="<%= @promo.finish_date.strftime("%I:%M%p") %>" data-show-meridian="true"
                         data-minute-step="5" data-second-step="5">

                </div>
              </div>
            </div>



            <%= f.label :conditions, "Condiciones" %>
            <%= f.text_field :conditions, class: 'form-control' %>
            <% if current_user.admin %>
                <div class="form-group">
                  <%= f.label :store, "Locales comerciales" %>
                  <%= f.collection_select(:store_id, Store.all, :id, :name, {}, {class: 'form-control'}) %>
                </div>
            <% end %>

            <div class="form-group">

              <div class="row">
                <label class="btn glyphicon glyphicon-camera"
                       data-toggle="tooltip" title="Añadir foto">
                  Imagen
                  <%= file_field_tag "image", accept: 'image/jpeg,image/gif,image/png',
                                     class: 'photo_upload', id: "img_file" %>
                  <%= content_tag(:div, tag(:img, {src: @promo.image.url, id: "img-preview",
                                                   height: "80", width: "150"}), id: "img-preview_div") %>
                </label>

              </div>

              <div class="row">
                <label id="clear-logo" class="btn glyphicon glyphicon-remove" onclick="remove_image('#img_file','#img-preview')"></label>
              </div>
            </div>
            <br>
            <br>

            <div class="col-md-3 col-md-offset-3">
              <%= link_to "Cancelar", :back, class: "btn btn-primary", style: 'width:100%;' %>

            </div>

            <div class="col-md-3 ">
              <%= f.submit "Guardar", class: "btn btn-primary", style: 'width:100%;' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {

        $("#initial_date").datepicker('setDate', new Date(<%= @promo.initial_date.year %>,
                <%= @promo.initial_date.month   %> -1, <%= @promo.initial_date.day %>));
        $("#initial_date").datepicker('update');

        $("#finish_date").datepicker('setDate', new Date(<%= @promo.finish_date.year %>,
                <%= @promo.finish_date.month   %> -1, <%= @promo.finish_date.day %>));
        $("#finish_date").datepicker('update');



        var preview = $("#img-preview");

        $("#img_file").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });


    });
</script>