<% provide(:title, 'Promociones') %>
<h1> Promociones </h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'nueva promocion', new_promotion_path, class: "btn btn-primary btn-sm btn-icon icon-left" %>
  </div>

  <% if current_user.admin %>

      <div class="row">

        <!--<div class="col-md-2" style="margin-right: -10%;">
          <label for="starts_with" class="control-label">Buscar</label>


        </div>-->


        <div class="col-md-4">
          <input id="starts_with" placeholder="Buscar promocion por titulo" name="starts_with" type="text" class="form-control"/>
        </div>
      </div>


  <% end %>

  <div class="panel-body">
    <div id="example-2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
      <table class="table table-bordered table-striped dataTable no-footer" id="example-2" role="grid" aria-describedby="example-2_info">
        <thead>

        <tr role="row">
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Titulo: actiamamvate to sort column ascending" style="width: 15%;">Titulo
          </th>
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Precio: activate to sort column ascending" style="width: 10%;">Precio
          </th>
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Precio promocional: activate to sort column ascending" style="width: 15%;">Precio
            promocional
          </th>
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Numero: activate to sort column ascending">Numero
            de notificacion
          </th>

          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Notificacion: activate to sort column ascending">Notificacion
          </th>
          <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Acciones: activate to sort column ascending">Acciones</th>
        </tr>
        </thead>

        <tbody class="middle-align promo-index">


        <%= render 'promotion_content' %>


        </tbody>
      </table>

      <div class="row">

        <div class="col-md-4">
          <%= will_paginate %>
        </div>
        <div class="col-md-2">
          <br>
          <br>
          <% if will_paginate %>
              <%= select_tag :per_page,"<option>5</option><option>10</option><option>15</option><option>20</option><option>50</option>".html_safe, class: 'from-control' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $("#starts_with").keyup(function (event) {
        var search_field = $('#starts_with');


        var jsonPost = { starts_with: search_field.val().toLowerCase() }


        $.ajax({
            type: 'POST',
            url: '/promotions/filter',
            data: jsonPost,
            dataType: 'script'
        });


    });
    $('#per_page').change(function () {
        var select = $('#per_page');
        var jsonPost = { per_page: select.val() }


        $.ajax({
            type: 'GET',
            url: '/promotions/',
            data: jsonPost,
            dataType: 'script'
        });

    });

</script>