<% provide(:title, 'Nueva promo') %>


<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default" style="width: 100%;">
      <div class="panel-heading">
        <h3 class="panel-title">Nueva promocion</h3>
      </div>
      <div class="panel-body">
        <%= form_for(@promo, html: {multipart: true}) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <div class="form-group">

              <%= f.label :title, class: 'control-label' %>
              <%= f.text_field :title, class: 'form-control', :required => true %>
            </div>

            <div class="form-group">

              <%= f.label :price, class: 'control-label' %>
              <%= f.text_field :price, class: 'form-control' %>
            </div>

            <div class="form-group">

              <%= f.label :promo_price, "Precio de promocion", class: 'control-label' %>
              <%= f.text_field :promo_price, class: 'form-control' %>
            </div>

            <div class="form-group">
              <div class="col-md-6">
                <div class="col-md-12">
                  <div class="col-md-8">
                    <%= f.label :initial_date, 'Fecha de inicio', class: 'control-label' %>
                  </div>
                  <div class="col-md-4">

                    <%= f.label :initial_date, 'Hora', class: 'control-label' %>
                  </div>
                </div>
                <div class='date-and-time'>

                  <input class="form-control datepicker" type="text" name="initial_date" id="initial_date"
                         required="true">


                  <input type="text" class="form-control timepicker" name="initial_time"
                         required="true" data-template="dropdown"
                         data-show-seconds="true" data-default-time="11:25 AM" data-show-meridian="true"
                         data-minute-step="5" data-second-step="5">

                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6">
                <div class="col-md-12">
                  <div class="col-md-8">
                    <%= f.label :finish_date, 'Fecha de fin', class: 'control-label' %>
                  </div>
                  <div class="col-md-4">

                    <%= f.label :finish_date, 'Hora', class: 'control-label' %>
                  </div>
                </div>
                <div class='date-and-time'>

                  <input class="form-control datepicker" type="text" name="finish_date" id="finish_date" required="true">


                  <input type="text" class="form-control timepicker" name="finish_time" required="true"
                         data-template="dropdown"
                         data-show-seconds="true" data-default-time="11:25 AM" data-show-meridian="true"
                         data-minute-step="5" data-second-step="5">

                </div>
              </div>
            </div>


            <div class="form-group">
              <%= f.label :conditions, "Condiciones", class: 'control-label' %>
              <%= f.text_field :conditions, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :notification_body, "Texto de notificacion", class: 'control-label' %>
              <%= f.text_field :notification_body, class: 'form-control' %>
            </div>



            <% if current_user.admin %>
                <div class="form-group">
                  <%= f.label :store, "Locales comerciales", class: 'control-label' %>
                  <%= f.collection_select(:store_id, Store.all, :id, :name, {}, {class: 'form-control', :required => true}) %>
                </div>

            <% end %>


            <div class="form-group">
              <div class="row">
                <label class="btn glyphicon glyphicon-camera"
                       data-toggle="tooltip" title="Añadir foto">
                  Imagen
                  <%= file_field_tag "image", accept: 'image/jpeg,image/gif,image/png',
                                     class: 'photo_upload', id: "img_file", :required => true %>
                  <%= content_tag(:div, tag(:img, {id: "img-preview",src: "#", height: "80", width: "150"}), id: "img-preview_div") %>

                </label>

              </div>


              <div class="row">
                <label id="clear-logo" class="btn glyphicon glyphicon-remove" onclick="remove_image('#img_file','#img-preview')"></label>
              </div>
              <%= label_tag(name = :campo_obligatorio, content_or_options = nil, options = {id: 'label_field', style: 'display: none; color: red;'}) %>
            </div>

            <br>
            <br>

            <%= f.submit "Guardar", id: 'submit_promo', class: "btn btn-primary", style: 'width:100%;' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>


    $('#submit_promo').click(function () {

        var file_field = $('#img_file');

        if (file_field.val().length == 0) {
            $('#label_field').css('display', 'block')
        }
    });


    $(document).ready(function () {

        var preview = $("#img-preview");

        $("#img_file").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });

    });


</script>