<%= label :end_date, 'Fecha final' ,id: 'end_date_label'%>
<div class='input-group' id='end_date'>

  <%= text_field_tag :end_date_field,nil, class: 'form-control datepicker', id:'span_start_date'%>
  <div class="input-group-addon">
    <a href="#">
      <i id="icon_start_date" class="linecons-calendar"></i>
    </a>
  </div>
</div>