

<a href="<%= reports_export_to_excel_users_path(format: "xlsx") %>" class="btn btn-primary btn-icon btn-icon-standalone" id="export_to_excel_button">
  <i class="fa-download"></i>
  <span>Exportar a excel</span>
</a>

