
<%= label :start_date, 'Fecha inicial', id: 'start_date_label' %>
<div class='input-group' id='start_date'>

  <%= text_field_tag :start_date_field, nil, class: 'form-control datepicker' %>
  <div class="input-group-addon">
    <a href="#">
      <i id="icon_start_date" class="linecons-calendar"></i>
    </a>
  </div>

</div>