<% if @users != nil %>

    <% @users.each do |user| %>
        <tr role="row" class="odd">


          <td><%= user.user_name %></td>
          <td><%= user.email %></td>
          <td><%= rol_translator user.role.role_name %></td>


        </tr>
    <% end %>

<% end %>