$('#export_to_excel_button').remove();
$(".export_to_excel").append("<%= escape_javascript(render 'export_to_excel_button') %>");
$(".report-index").html("<%= escape_javascript(render 'user_content_report') %>");

