<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default" style="width: 100%;">
      <div class="panel-heading">
        <h3 class="panel-title">Reporte</h3>
      </div>
      <div class="panel-body">

        <form action="/reports/filter" method="post" data-remote="true">
          <div class="row">


            <div class="col-md-3">
              <%= label :report_id, 'Tipo de reporte' %>
              <%= select_tag(:report_id, options_for_select([['Usuarios', 1], ['Usuarios conectados', 2]]), {prompt: 'Seleccionar',class: 'form-control'}) %>
            </div>


            <div class="col-md-4 form-group  start_date_div">


            </div>


            <div class="col-md-4 form-group end_date_field">


            </div>


          </div>
          <br>

          <div class="col-md-2">
            <input type="submit" class="btn btn-primary" value="Aceptar">
          </div>
        </form>

        <div class="col-md-3 pull-right export_to_excel">

        </div>


        <div class="panel-body">
          <div id="example-2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <table class="table table-bordered table-striped dataTable no-footer" id="example-2" role="grid" aria-describedby="example-2_info">
              <thead>

              <tr role="row">
                <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Nombre: activate to sort column ascending" style="width: 176px;">Nombre
                </th>
                <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 116px;">Email
                </th>

                <th tabindex="0" aria-controls="example-2" rowspan="1" colspan="1" aria-label="Roles: activate to sort column ascending" style="width: 116px;">Roles</th>
              </tr>
              </thead>

              <tbody class="middle-align report-index">


              <%= render "user_content_report" %>


              </tbody>
            </table>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    $('#report_id').change(function () {

        var select_report = $('#report_id');

        if (select_report.val() == 1) {
            $('.start_date_div').append("<%= escape_javascript(render 'start_date_field') %>");
            $('.end_date_field').append("<%= escape_javascript(render 'end_date_field') %>");

            $(".datepicker").each(function (i, el) {
                var $this = $(el),
                        opts = {
                            format: attrDefault($this, 'format', 'mm/dd/yyyy'),
                            startDate: attrDefault($this, 'startDate', ''),
                            endDate: attrDefault($this, 'endDate', ''),
                            daysOfWeekDisabled: attrDefault($this, 'disabledDays', ''),
                            startView: attrDefault($this, 'startView', 0),
                            rtl: rtl()
                        },
                        $n = $this.next(),
                        $p = $this.prev();

                $this.datepicker(opts);

                if ($n.is('.input-group-addon') && $n.has('a')) {
                    $n.on('click', function (ev) {
                        ev.preventDefault();

                        $this.datepicker('show');
                    });
                }

                if ($p.is('.input-group-addon') && $p.has('a')) {
                    $p.on('click', function (ev) {
                        ev.preventDefault();

                        $this.datepicker('show');
                    });
                }
            });


        }
        else {
            $('#start_date_label').remove();
            $('#start_date').remove();
            $('#span_start_date').remove();
            $('#icon_start_date').remove();
            $('#start_date_field').remove();


            $('#end_date_label').remove();
            $('#end_date').remove();
            $('#span_end_date').remove();
            $('#icon_end_date').remove();
            $('#end_date_field').remove();
        }


    });

</script>