<header class="navbar navbar-fixed-top ">
  <nav class="navbar navbar-inverse">
    <div class="sidebar-menu-inner ps-container ps-active-y">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <% if logged_in? %>

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to 'Home', root_path, class: 'navbar-brand' %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <% if current_user.admin %>
                    <li><%= link_to 'Locales comerciales', stores_path %></li>
                <% end %>

                <% if current_user.admin %>
                    <li><%= link_to 'Sitios de interes', place_of_interests_path %></li>
                <% end %>

                <li><%= link_to 'Promociones', promotions_path %></li>









                <% if current_user.admin %>
                    <li><a href="/events">Eventos</a></li>
                    <li><%= link_to "Notificaciones", notifications_new_path %></li>
                <% end %>


              </ul>

              <nav>
                <ul class="nav navbar-nav navbar-right">
                  <% if current_user.admin %>

                      <li><%= link_to "Usuarios", users_path %></li>

                      <li><%= link_to "Reportes", reports_show_path %></li>


                  <% end %>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Profile", current_user %></li>
                      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to "Log out", logout_path, method: "delete" %>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>


        <% end %>

        </div>
      </div>
    </div>
  </nav>

</header>
