<% if logged_in? %>
    <div class="sidebar-menu toggle-others fixed">
      <div class="sidebar-menu-inner ps-container ps-active-y">
        <header class="logo-env"> <!-- logo -->
          <div class="logo">

            <a href="<%= root_path %>">

              <%= image_tag 'logo.png', width: '80' %>
            </a>


          </div>
          <div class="mobile-menu-toggle visible-xs">
            <a href="#" data-toggle="user-info-menu"> <i class="fa-bell-o"></i>
              <span class="badge badge-success">7</span>
            </a> <a href="#" data-toggle="mobile-menu"> <i class="fa-bars"></i> </a></div>

        </header>


        <ul id="main-menu" class="main-menu">
          <li>
            <a href="<%= root_path %>">
              <i class="linecons-cog"></i>
              <span class="title">Dashboard</span>
            </a>
          </li>

          <li class="has-sub">
            <% if current_user.admin %>
                <a href="<%= stores_path %>">
                  <i class="fa-cutlery"></i>
                  <span>Gastronomia</span>
                </a>
                <ul>
                  <li>
                    <a href="/stores/?kind=<%= RESTAURANT %>">
                      <span class="title">Restaurantes</span>
                    </a>
                  </li>
                  <li>
                    <a href="/stores/?kind=<%= KIOSCO %>">
                      <span class="title">Kioscos</span>
                    </a>
                  </li>
                </ul>
            <% end %>
          </li>

          <li class="has-sub">

            <% if current_user.admin %>
                <a href="<%= place_of_interests_path %>">
                  <i class="fa-cube"></i>
                  <span>Sitios de interes</span>
                </a>
                <ul>
                  <li>
                    <a href="/place_of_interests/?kind=<%= DEPORTIVO %>">
                      <span class="title">Espacios Deportivos</span>
                    </a>
                  </li>
                  <li>
                    <a href="/place_of_interests/?kind=<%= CULTURAL %>">
                      <span class="title">Espacios Culturales</span>
                    </a>
                  </li>
                  <li>
                    <a href="/place_of_interests/?kind=<%= ENTRETENIMIENTO %>">
                      <span class="title">Entretenimiento</span>
                    </a>
                  </li>

                  <li>
                    <a href="/place_of_interests/?kind=<%= ADICIONALES %>">
                      <span class="title">Adicionales</span>
                    </a>
                  </li>
                </ul>

            <% end %>

          </li>


          <li>

            <a href="<%= promotions_path %>">
              <i class="fa-gift"></i>
              <span>Promociones</span>
            </a>


          </li>

          <li>
            <% if current_user.admin %>
                <a href="<%= events_path %>">
                  <i class="fa-calendar-o"></i>
                  <span>Eventos</span>
                </a>


            <% end %>


          </li>


          <li>


            <a href="<%= notifications_new_path %>">
              <i class="fa-comments"></i>
              <span>Notificaciones</span>
            </a>

          </li>

          <li>
            <% if current_user.admin %>
                <a href="<%= users_path %>">
                  <i class="fa-users"></i>
                  <span>Usuarios</span>
                </a>

            <% end %>
          </li>

          <li>
            <% if current_user.admin %>
                <a href="<%= reports_show_path %>">
                  <i class="fa fa-bar-chart"></i>
                  <span>Reportes</span>
                </a>


            <% end %>
          </li>

          <li>
            <a href="<%= logout_path %>" data-method="delete">
              <i class="fa-sign-out"></i>
              <span>Logout</span>
            </a>


          </li>

        </ul>


      </div>
    </div>
<% end %>