<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://connect.facebook.net/en_US/all.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9AgsmuFD2CaWOMUbfsv6jUxcJRAuGfdc&signed_in=true&libraries=places"
          type="text/javascript"></script>

  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body class="page-body">
<div class="page-container ">
<%= render 'layouts/slide_bar_menu'  %>


  <div class="main-content">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>

  </div>


</div>



</body>
</html>
