<% provide(:title, "Log in") %>
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic" id="style-resource-1">
  <script src="https://connect.facebook.net/en_US/all.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9AgsmuFD2CaWOMUbfsv6jUxcJRAuGfdc&signed_in=true&libraries=places"
          type="text/javascript"></script>

  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body class="page-body login-page">




  <%= yield %>

</div>
</body>
</html>